.left {
  margin-top: 80px;
  max-width: 700px;
  line-height: 1.1;
}
.title {
  font-weight: lighter;
  font-size: 140px;
}

.semititle {
  font-size: 55px;
  letter-spacing: 3px;
}

.subtitle {
  opacity: 0.6;
  font-size: 35px;
  letter-spacing: 2px;
}

.rightContainer{
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
.right {
  align-items: flex-end;
  /* margin-top: 100px; */
}
